.footer {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
    position: relative;
  }
  
  .footer-container {
    margin-left:5%;
    display: flex;
    justify-content: space-around;
    margin-bottom:5%;
    width: 100%;
    
  }
  
  .footer-section {
    width: 90%;
  }
  .footer-section p{
    margin-bottom:2%; 
  }
  .footer-section h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 0.5rem;
  }
  
  .footer-section ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-bottom {
    position: absolute;
    z-index:1;
    bottom:1%;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    background-color: #222;
  }
  
  .footer-bottom p {
    margin: 0;
    font-size: 0.9rem;
  }
  @media (max-width:430px)
  {
    .footer-section h3 {
      font-size: 2rem;
    }
    .footer-container{
      flex-direction: column;
      gap:3rem;
      font-size:1.5rem;
      margin-bottom:6%;
    }
    
  }