.profile-container{
    position: relative;
    width:100%;
    height:max-content;
    display: flex;
    flex-direction: column;
}
.profile{
    width:100%;
    display: flex;
    background-size: cover;
    height: 700px;
}
.profile img{
    width:100%;
    height:100%;
    opacity: 0.2;
}
.profile::before {
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: white;
    
    /* Adjust the gradient colors and direction as needed */
    pointer-events: none; /* Allows interaction with the underlying image */
}
.profile-name{
    position: absolute;
    top:6%;
    left:0;
    right:0;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    text-align: center;
    color:black;
    padding:10px;
    font-size: 3rem;
    font-weight: 100;
    font-style: italic;
}
.profile-name span{
    font-size: 2.9rem;
}
.spinner-blue{
    color:blue;
}
.profile-body{
    display: flex;
    width:100%;
    background-color: white;
}
.profile-content{   
    width:20%;
    display: flex;
    flex-direction: column;
    padding:8px;
    line-height: 3rem;
    margin-left:2%;
    border-right: 1px solid grey;
    margin-top:2%;
    line-height: 2.8rem;
}
.profile-content p{
    font-size:1.2rem;
    
}
.profile-posts{
    width: 80%;
}
.blog-form{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 3%;
    margin-bottom: 10%;
}
.text-area{
    position:relative;
}
.loading-profile{
    position: absolute;
    bottom:0;
    width:80%;
}
#confirm{
    width:100%;
    padding:4px;
    margin-top:7%;
}

#profile-msg{
    text-align: center;
    font-size: 2.5rem;
    color:darkgrey;
    margin-bottom:2%;
}
#profile-blog{
    height:3rem;
    width: 50%;
    padding:5px;
    border:1px solid grey;
    font-size: 1.5rem;
}
#profile-blogCont{
    margin-left: 0%;
    font-size: 1.2rem;
    padding:5px;
    border:1px solid grey;
}
#your-blogs{
    font-weight: lighter;
    letter-spacing: 2px;
    text-align: center;
    font-size: 3rem;
    border-bottom:1px solid grey;
    width:80%;
    padding-bottom:40px;
    margin: auto;
}
.profile-posts button{
    margin-top:2%;
    
}
.blog-form button{
    width:10%;
    border:none;
    background-color: rgb(161, 4, 4);
    color:white;
    padding:8px;
    font-size: 1.2rem;
}
.blog-form button:hover{
    background-color: black;
    box-shadow: 0 3px 12px rgb(112, 112, 112);
    transition: ease-in 0.2s;
}
#profile-list{
    margin:auto;
    width: 75%;
    box-shadow: 0 0 12px black ;
    align-items: center;
    justify-content: center;
    padding:40px 20px;
    margin-bottom:12%;
}

#profile-list>#blogtitle{
    margin:auto;
    padding-bottom:12px;
    margin-bottom: 5%;
}
#profile-remove{
    background-color: rgba(190, 30, 30, 0.9);
    margin-left:47%;
    margin-top:4%;
    margin-bottom: none;
}
.custom-file-upload  input[type="file"]{
    display: none;
}

.custom-file-upload {
    display: inline-block;
    
    cursor: pointer;
    border-radius: 50px;
    background-color: #dddddf;
    width: 42%;
    font-weight: lighter;
    color:darkgrey;
    line-height: 20px;
    height:130px;
    border: none;
    margin-top:5%;
    text-align: center;
    position:relative;
    margin-bottom: 10%;
}
.profile-content button{
    position: absolute;
    bottom:0;
    right:0;
    border-radius: 50px;
    font-size: 0.5rem;
    padding:10px;
    background-color: darkgrey;
}

.profile-image{
    width: 100%;
    height:100%;
    padding:none;
}
.custom-file-upload img{
    width:100%;
    height:100%;
    border-radius: 50px;
}
.custom-file-upload span{
    position: absolute;
    left:0;
    top:30%;
}


.profile-image img{
    width:100%;
    height:100%;
    border-radius: 50px;
}
.custom-file-upload span{
    position: absolute;
    left:0;
    top:30%;
}

@media screen and (max-width:930px)
{
    .profile-name{
        width: 100%;
        bottom:20%;
        left:0;
        right:0;
    }
    .profile-body{
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    .profile-content{
        border-bottom:1px solid darkgrey;
        border-right:none;
        width: 95%;
        margin:auto;
        padding:10px 20px;
    }
    .custom-file-upload{
        width: 16%;
        height:180px ;
        margin-bottom: 4%;
    }
    .profile-posts{
        width: 100%;
    }
}
@media screen and (max-width:420px)
{
    .custom-file-upload{
        width: 36%;
        height:138px ;
        margin-bottom: 4%;
    }
    .blog-form button{
        width:90%;
        margin-right:50%;
        border:none;
        background-color: rgb(161, 4, 4);
        color:white;
        padding:8px;
        font-size: 1.2rem;
    }
    #profile-list{
        width: 90%;
        padding-bottom: 10px;
    }
    #blogtitle{
        display: flex;
        width: 96%;
    }
    #blogtitle-two{
        font-size: 1rem;
    }
    #profile-remove{
        margin:10% 0 0 0;
        width: 100%;

    }
}
