body{
    background-color: rgb(240, 239, 239);
}
.card{
    display: flex;
    width: 70%;
    height:fit-content;
    margin:3% auto 8% auto;
}
#trekDest{
    font-size: 1.6rem;
    font-weight: bold;
}
.booking{
    width:25%;
    border-radius: 20px;
    position: relative;
    background-color: rgb(255, 255, 255);
}
.enquiry{
    border-left:1px dashed rgb(180, 178, 178);
    position: absolute;
    top:6%;
    width:95%;
    text-align: right;
    padding:8px;
    height: 88%;

}
.enquiry pre{
    font-size: 15px;
    margin-bottom:6px;
}
.enquiry span{
    background-image: linear-gradient(red,orange);
    border-radius: 5px;
    color:white;
    font-size: 18px;
    padding:4px;
}
.rating{
    margin-top:1%;
}
.rating i{
    color: rgb(247, 183, 65);
}
#except{
    color:lightgrey;
}
#cut{
    margin-top:12%;
    font-size: 22px;
    font-weight: lighter;
}
#price{
    margin-top:1%;
}
.enquiry button{
    background-image: linear-gradient(to right,red,orange);
    border:0;
    color:white;
    padding:6px;
    font-size: 20px;
    margin-top:4%;
    border-radius:5px;
}
.trek-card{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: 75%;
    border-radius:10px 20px 20px 10px;
    padding:6px;
    background-color: white;
}
.trek-card img{
    border-radius: 10px  0 0 10px;
    height: 100%;
    width: 100%;
}
.trekimg{
    height:300px;
    width:322px;
}
.trekDesc{
    margin-left:2%;
    display: flex;
    flex-direction: column;
}
#duration{
    margin-top:6%;
    background-color: rgb(250, 213, 219);
    padding:2px;
    width: 50%;
}
#travel{
    margin-top:9%;
    background-color: rgb(221, 221, 221);
    width:80%;
    padding:3px;
}
.icons-list{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top:10%;
}
 .icons i{
    font-size: 1.7rem;
    
    
    text-align: center;
    color: orangered;
    border: 1px solid orangered;
}
#stay{
    padding:12px 10px;
    border-radius: 50%;
}
#car{
    border-radius: 50%;
    padding:14px 0;
    font-size: 1.7rem;
}
.icons h6{
    margin-top:5%;
    text-align: center;
    font-weight: 600;
    font-size: 0.7rem;
} 
.icons{
    display: flex;
    flex-direction: column;
    margin-right:10%;
}
@media (max-width:780px)
{
    .card{
        width: 98%;
        margin:15% auto;
    }
}
@media (max-width:430px)
{
    .card, .trek-card{
        flex-direction: column;
    }
    .card{
        width: 110%;
        margin-left:9%;
        margin-bottom:100%;
        
    }
    .trekimg{
        height:280px;
        width:322px;
    }
    .trek-card img{
        border-radius:10px;
        width: 100%;
    }
   .booking{
    width: 330px;
    }
    .enquiry{
        height: max-content;
        padding:30px 10px 10px 10px;
        background-color: rgb(255, 255, 255);
        width: 100%;
        border-radius: 12px;
        border:none;
        border-top:1px dashed darkgrey;
       
    }
   
}